body {
  background-color: #CCCCCC
}
#instructions {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  min-width: 400px;
  text-align: center;
  font-family: Arial, sans-serif;
}
#big {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 60%; 
  min-width: 900px;
  border: 8px solid white;
  background-color: #EEEEEE;
  text-align: center;
}
#boxes {
  margin-left: auto;
  margin-right: auto;
  word-spacing: 15px;
}
#buttons {
  word-spacing: 10px;
}
#div1 {
  width:350px;
  height:70px;
  padding:10px;
  border:1px solid #aaaaaa;
  display: none;
}